{% extends "base.html" %}
{% load staticfiles %}

<div class="row">
    {% block content %}
        <h1>Recently added jobs</h1>
        <h1>{{ someVar }}</h1>
        {% if latest_jobs %}

            {% for job in latest_jobs %}

                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Job Title:</strong> {{ job.title }}
                        <div class="pull-right"><strong>Location:</strong> {{ job.team.location }}</div>
                    </div>
                    <div class="panel-body">
                        <p><strong>Date Posted:</strong> {{ job.created_at }}</p>

                        <p><strong>Description: </strong>{{ job.description }}</p>

                        <div class="well">
                            <p><strong>Skills: </strong> {{ job.skills }}</p>
                        </div>
                        <form action="{% url "jobs:job_detail" job.pk %}">
                            <input type="submit" class="btn btn-success pull-right" value="Click for details">
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No jobs available</p>
        {% endif %}

    {% endblock %}
</div>